@font-face {
  font-family: 'Roboto';
  src: url('/Curs08/Ex02/fonts/Roboto-Regular.ttf') format('ttf'),
    url('/Curs08/Ex02/fonts/Roboto-Bold.ttf') format('ttf'),
    url('/Curs08/Ex02/fonts/Roboto-Italic.ttf') format('ttf');
}

@font-face {
  font-family: 'Iulius Sans One';
  src: url('/Curs08/Ex02/fonts/JuliusSansOne-Regular.ttf') format('ttf');
}

h1 {
  color: red;
  font-family: 'Julius Sans One';
  font-size: 35px;
}

body {
  font-family: 'Roboto-Regular';
}

ol a {
  font-weight: bold;
}

ul li {
  font-family: 'Julius Sans One';
  line-height: 25px;
}

h3 {
  font-weight: bold;
  color: green;
  font-size: 28px;
}

h2 {
  font-family: 'Julius Sans One';
  color: purple;
  text-decoration: underline;
  font-size: 32px;
}

p {
  line-height: 23px;
}
